 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于我</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>吉他初学者</p>
                    <p>用抖音记录学习轨迹</p>
                </div>
                <div class="col-lg-4">
                    <p>台球爱好者</p>
                    <p>离开北京后再无更新</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
