    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>借我</h3>
                        <p>纵容的悲怆与哭喊</p>
                        <p>安适的清晨与傍晚</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>相关链接</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://whatwhyhow7.github.io/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-wordpress"></i></a>
                            </li>
                            <li>
                                <a href="https://whatwhyhow7.github.io/blog" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-edit"></i></a>
                            </li>
                            <li>
                                <a href="https://whatwhyhow7.github.io/photo" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-photo"></i></a>
                            </li>
                            <li>
                                <a href="https://whatwhyhow7.github.io/cook" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-apple"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>给你</h3>
                        <p>跳动的心儿可不可以</p>
                        <p>拉紧的手儿可不可以</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">Copyright &copy; <a href="https://github.com/whatwhyhow7/video" target="_blank">whatwhyhow7</a> ❤ 20{{ site.time | date: '%y' }}</div>
                    <div class="col-lg-12">Powered by <a href="https://github.com/jeromelachaud/freelancer-theme" target="_blank">freelancer-theme</a></div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
