    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.jpg" alt="" style="width: 15rem; border-radius: 50%;">
                    <div class="intro-text">
                        <p class="name">whatwhyhow7</p>
                        <hr class="star-light">
                        <p class="skills">我多想能陪你一场</p>
                        <p class="skills">把前半生的风景对你讲</p>
                    </div>
                </div>
            </div>
        </div>
    </header>